<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898808355501-p0m0q7p8ov0ovphh97ds8gtlgkt102st.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898808355501-p0m0q7p8ov0ovphh97ds8gtlgkt102st</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>898808355501-k0ufchrdtb62s81d2grorbm9fnomgihj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDA1n-UOtCOXX8QDBWtcMPL6k_I71731o</string>
	<key>GCM_SENDER_ID</key>
	<string>898808355501</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DompetDhuafa</string>
	<key>PROJECT_ID</key>
	<string>dompetdhuafa</string>
	<key>STORAGE_BUCKET</key>
	<string>dompetdhuafa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898808355501:ios:9778332138c8b278560424</string>
	<key>DATABASE_URL</key>
	<string>https://dompetdhuafa.firebaseio.com</string>
</dict>
</plist>